<section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

					<p id="notice"><%= notice %></p>

					<h2>Info</h2>
					<hr class="star-primary">

				</div>
			</div>

					<p>
					  <strong>Prénom : </strong>
					  <%= @user.first_name %>
					</p>

					<p>
					  <strong>Nom : </strong>
					  <%= @user.last_name %>
					</p>

					<p>
					  <strong>E-mail : </strong>
					  <%= @user.email %>
					</p>
					<% if current_user%>
					<%= link_to 'Edit', edit_user_path %> 
					<% end %>
					<%= link_to 'Back', root_path %>

				
		</div>
</section>

